<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'LambOverice', root, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Questions' questions_path %></li>
      <li><%= link_to 'My Account' @user %></li>

    </ul>


  </div>
</nav>
